<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @shopping_cart.email %>
</p>

Show Items in this Shopping Cart 


<%= @products.each do |t| %>
  <%= t.description %>
<% end %>








<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
