<p id="notice"><%= notice %></p>

<h2> Your Cart</h2>

<ul>
<% @current_cart.line_items.each do |item| %>
	<li> Name: <%= item.product.name %> <br>Price: <%= item.product.price_in_cents / 100 %>
  <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>


Your Total Checkout Price:

<%= @current_cart.get_total %>

<%= form_tag "/carts/pay_for_cart/" do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Stripetastic hats"
    data-description=" A bunch of Stuff "
    data-amount="<%= @current_cart.get_total %>"
    data-currency="eur"
    >
  </script>
<% end %>

<br>
