<p id="notice"><%= notice %></p>

<h2> Your Cart</h2>

<ul>
<% @cart.line_items.each do |item| %>
	<li><%= item.product.name %></li>
<% end %>
</ul>
<p>
total: 
<%= number_to_currency(@cart.total_in_dollars) %>
</p>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
